include header.pug
.row.t10
  .col-xs-10.col-xs-offset-1
    select.form-control(
      ng-model="cn.site_id",
      ng-change="choose_site()",
      ng-options="site.site_id as site.site_name for site in cn.sites"
      )
        option(value="") Choose a Site...
.row.t5
  .col-xs-10.col-xs-offset-1
    .font-sm {{site_select.site_name}} {{site_select.site_address}} {{site_select.site_city}} {{site_select.site_state}} {{site_select.site_postalcode}}
.row.t5
  .col-xs-10.col-xs-offset-1
    label Cell Connection
    table.table.font-sm
      thead
        tr
          th Gateway S/N
          th Connect
      tbody
        tr(ng-repeat="gw in cn.site_select.gateways", 
        ng-class="gw.id == cn.gateway_select.id ? 'selected_row' : ''",
        ng-click="choose_gateway(gw, $index)")
          td {{gw.gateway_macid}}
          td
            | {{gw.gateway.rssi}}
            span(ng-show="gw.gateway_rssi_status == 1")
              .fa.btn-fa.fa-thumbs-up(style="color: green")
            span(ng-show="gw.gateway_rssi_status == 2")
              .fa.btn-fa.fa-thumbs-down(style="color: orange")
            span(ng-show="gw.gateway_rssi_status == 3")
              .fa.btn-fa.fa-thumbs-down(style="color: red")
.row.t5(ng-show="cn.site_id")
  .col-xs-10.col-xs-offset-1(ng-show="cn.gateway_select.gateway_rssi_status == 1")
    label Puck Connection
    table.table.font-sm
      thead
        tr
          th Puck
          th Gateway
          th Meter
      tbody
        tr(ng-repeat="pk in cn.site_select.pucks")
          td {{pk.puck_name}}
          td
            span(ng-show="pk.puck_rssi_status == 1")
              .fa.btn-fa.fa-thumbs-up(style="color: green")
            span(ng-show="pk.puck_rssi_status == 2")
              .fa.btn-fa.fa-thumbs-down(style="color: orange")
            span(ng-show="pk.puck_rssi_status <= 3")
              .fa.btn-fa.fa-thumbs-down(style="color: red")
          td
            span(ng-show="pk.meter_connection")
              .fa.btn-fa.fa-thumbs-up(style="color: green")
            span(ng-hide="pk.meter_connection")
              .fa.btn-fa.fa-thumbs-down(style="color: red")
  .col-xs-10.col-xs-offset-1(ng-hide="cn.gateway_select.gateway_rssi_status == 1")
    h3(style="color: red") No Cell Signal
    .row.t20(ng-show="cn.site_id")
      .col-xs-10.col-xs-offset-1(style="color: red") Plug in Gateway and establish cell signal
